@import "../../styles/shared";

.List {
  @include component-padding();
}

.ListItem {
  list-style: none;
  float: left;
  width: 100%;
  font-size: $lead-font-size;
  padding: 10px;
  background-color: #ededed;
  border-radius: 10px;

  &:hover {
    background-color: #dbd7d7;
  }

  &-link {
    text-decoration: none;
  }

  &-date {
    width: 100%;
    float: left;
    color: $color-secondary;
    font-size: $base-font-size;
  }
}
