@import "../../styles/shared";

.List {
  @include component-padding();
}

.ListItem {
  list-style: none;
  width: 100%;
  font-size: $small-font-size;
  padding: 10px;
  color: $color-dark-blue;
  background-color: #ededed;
  border-radius: 10px;
  // @include drop-shadow;

  &:hover {
    background-color: #dbd7d7;
  }

  &-link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &-date {
    color: $color-secondary;
    font-size: $base-font-size;
  }
}

ul.pagination {
  height: 70px;
  background-color: #4a7aad;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  li {
    a {
      color: white;
      cursor: pointer;
      padding: 15px 20px;
      &:hover {
        color: darkslateblue;
        text-decoration: none;
      }
    }
  }
}

.active,
.previous,
.next {
  background-color: #178ceb;
  border-radius: 50px;

  &:hover {
    cursor: pointer;
    background-color: #62676b;
  }
}
